# Node modules
node_modules/

# Logs
logs/
*.log
*.log.*

# Environment files
.env

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
Thumbs.db
ehthumbs.db

.codegpt